body{
    text-align: center;
    background-color: rgb(50, 50, 50);
    grid: 0%;
}

p {
    color: black;
}

h1{
    color: orange;
}

.menu{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    border: 1px solid black;
}

.menu-button{
    color: orange;
    width: 125px;
    height: 45px;
    padding: 2em;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    display: flex;
    text-decoration: none;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.menu-button:hover{
    background-color: orange;
}

.menu-items{
    display: flex;
}

/*Removes dot before listed items*/
li{
    display: flex;
}